body{
    margin: 0 auto;
    background-color:   rgb(44, 44, 44);
    background-size: 100%;
}

header{
    height: 90px;
    background-color: rgb(44, 44, 44);
    
}

#logo-topo{
    background-image: url(../img/logo60.png);
    float: left;
    height: 70px;
    width: 30%;
    margin-top: 20px;
    margin-left: 2%;
    background-repeat: no-repeat;
}

.inf-topo{
    float: right;
    height: 80px;
    width: 60%;
    margin-top: 10px;
    margin-left: 2%;
    color: aliceblue;
}

.tb-topo{
    float: right;
    height: 60px;
    width: 50%;
    margin-top: 10px;
}

.centro{
    min-height: 75vh;
    background-color: rgb(255, 251, 251);
    font-size: 19x;
}

.lateral-menus{
    float: left;
    min-height: 72vh;
    width: 15%;
    min-width: 200px;
    background-color:   rgb(44, 44, 44);
    border-radius: 0px 10px 10px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.btn{
   display: block; 
   padding: 16px 20px;
   position: relative;
   text-decoration: none;
   color: aliceblue;
   font-size: 19px;
}

.btn:before{
   content: ""; 
   position: absolute;
   width: 14px;
   height: 14px;
   left: 20px;
   bottom: -7px;
   transform: rotate(45deg);
}

.smenu{
   overflow: hidden; 
   transition: max-height 0.3s;
   max-height: 0;
}

.smenu a{
    display: block;
    padding: 16px 26px;
    margin: 4px 0;
    position: relative;
}

.smenu a:before{
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}

.smenu a:hover:before{
    opacity: 1;
}

.item:target .smenu{
    max-height: 10em;
}

.conteudo{
    min-height: 75vh;
    min-width: 500px;
    background-image: url(../img/fundo.jpg);
}

footer{
    height: 40px;
}

.dados-dev{
    color: white;
    margin-top: 20px;
    width: 80%;
    margin-left: 9%;
}