.miolo{
    float: left;
    min-height: 75vh;
    width: 80%;
}

#img-centro{
    background-image: url(../img/centro700.png);
    min-height: 65vh;
    background-repeat: no-repeat;
    margin-left: 20%;
    margin-top: 5%;
}