.container{
    float: left;
    height: 210px;
    width: 907px;
    background-color: rgb(44, 44, 44);
    margin-left: 2%;
    margin-top: 2%;
}

#msg-topo{
    margin-left: 20px;
    margin-bottom: 0px;
    color: white;
}

label{
    color: white;
    margin-left: 20px;
    
}

input{
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
}

select{
    margin-left: 20px;
}

textarea{
    margin-left: 20px;
    margin-right: 20px;
    width: 660px;
}

button{
    margin-left: 20px;
}